.post {
  background-color: #0c1423;
  position: relative;
  padding: 50rem 0 0 0;
}

.post img {
  box-shadow: -30px 30px #86e0f9;
  position: absolute;
  width: 60%;
  right: 0;
  top: -125px;
}

.postFlexParent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: left;
  margin-left: 38rem;
  margin-top: 20rem;
  padding: 0 0 3rem 5rem;
  border-left: 5px solid #86e0f9;
  border-bottom: 5px solid #86e0f9;
}

.postFlexParent h2,
.postFlexParent .date {
  text-align: left;
  align-self: flex-start;
}

.post aside {
  position: absolute;
  background-color: #0f614e;
  left: 230px;
  top: 200px;
  width: 20%;
  padding: 10rem 10rem 10rem 10rem;
}

.post aside img {
  width: 125%;
  position: absolute;
  top: -325px;
  margin: 0;
  padding: 0;
}

.sidebarRecentPosts h2 {
  margin-top: 200rem;
}

.sidebarRecentPosts ul {
  list-style: circle outside;
}
