$primary: #86e0f9;

.postForm {
  background-color: #0c1423;
  padding-bottom: 5rem;
}

.postForm .wrapper form {
  display: flex;
  flex-direction: column;
  margin-left: 38rem;
}

form label {
  visibility: hidden;
}

.textEmail {
  display: flex;
  justify-content: space-between;
}

input[type="text"],
input[type="email"],
#comment {
  background-color: #0c1423;
  color: #ffffff;
  border: 0;
}

input[type="text"],
input[type="email"] {
  width: 40%;
  border-bottom: 1px solid $primary;
}

#comment {
  border: 1px solid $primary;
  margin-bottom: 2rem;
  resize: none;
  padding: 0.5rem;
}

input[type="submit"] {
  font-family: "barlow", sans-serif;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 1px;
  border: 0;
  background-color: #0f614e;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0.5rem;
  transition: color 0.3s;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  color: $primary;
}
