.contactForm {
  background-color: #0c1423;
  padding: 30rem 0 30rem 0;
}

.contactForm form {
  background-color: #0f614e;
  width: 70%;
  box-shadow: -30px 30px #86e0f9;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 4rem;
}

.contactForm input[type="submit"] {
  background-color: #0c1423;
}

.contactForm input[type="text"],
.contactForm input[type="email"],
.contactForm #comment {
  background-color: #0f614e;
}

.contactForm .wrapper {
  position: relative;
}

.contactSidebar {
  position: absolute;
  top: -100px;
  left: 0;
}

.contactSidebar .iconList li {
  display: inline-block;
  margin-right: 2rem;
  font-size: 2.5rem;
}

.facebook:hover,
.facebook:focus {
  color: #3b5998;
}

.instagram:hover,
.instagram:focus {
  color: #fb3958;
}

.twitter:hover,
.twitter:focus {
  color: #00acee;
}

.whatsapp:hover,
.whatsapp:focus {
  color: #25d366;
}

h3 a {
  transition: color 0.3s;
}

h3 a:hover,
h3 a:focus {
  color: #86e0f9;
}
