$primary: #86e0f9;

@media (max-width: 1260px) {
  .contactForm form,
  .contactSidebar {
    position: static;
    width: 100%;
    text-align: center;
  }

  .contactForm {
    padding: 5rem 0 5rem 0;
  }

  .contactSidebar {
    background-color: #0f614e;
    box-shadow: 30px 30px $primary;
    margin: 6rem 0 3rem 0;
    padding: 4rem 0 4rem 0;
  }
}

@media (max-width: 360px) {
  html {
    font-size: 55%;
  }
}
