/* stripping styles */

img {
  width: 100%;
  height: auto;
  display: block;
}

body,
ul,
li,
h1,
h2 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

/* global styles */

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  color: #ffffff;
  height: 100%;
  font-weight: 400;
  line-height: 3.2rem;
}

/* wrapper styles */

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

/* skip link styles */
.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

// link button styles

.findOutMore,
.readMore {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  line-height: 3.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.findOutMore a {
  color: #0c1423;
  background-color: #86e0f9;
  transition: color 0.3s;
  padding: 1rem 2rem 1rem 2rem;
}

.readMore a {
  color: #ffffff;
  transition: color 0.3s;
  background-color: #0c1423;
  padding: 1rem 2rem 1rem 2rem;
}

.findOutMore a:hover,
.findOutMore a:focus {
  color: #ffffff;
}

.readMore a:hover,
.readMore a:focus {
  color: #86e0f9;
}

.imageCropper {
  overflow: hidden;
}

h2 {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  font-size: 4.2rem;
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 3.2rem;
}

h4 {
  font-family: "barlow", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 3.2rem;
  text-transform: uppercase;
}
