header {
  background-image: url(../assets/blog-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  min-height: calc(100vh - 78px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.headerFlexParent {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 10rem;
  margin-top: 8rem;
}

ul {
  list-style: none;
  display: flex;
}

header p {
  text-transform: uppercase;
  font-family: "Sirin Stencil", cursive;
  font-size: 3.5rem;
  color: #00476a;
}

nav {
  font-family: "Lato", sans-serif;
  font-size: 2.5rem;
}

ul li {
  margin: 0 2rem;
}

ul li a {
  color: #00476a;
  transition: all 0.3s;
}

ul li a:hover {
  border-bottom: 2px solid #00c6ff;
}

h1 {
  font-family: "Sirin Stencil", cursive;
  font-size: 7.6rem;
  color: #00476a;
  text-transform: uppercase;
  max-width: 60%;
}
