.headerMain {
  background-image: url(../assets/header-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  min-height: calc(100vh - 200px);
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // position: relative;
}

.headerMain ul li {
  display: inline-block;
  text-align: end;
  margin-left: 1rem;
}

.headerMainFlexParent {
  display: flex;
  height: calc(100vh - 239px);
  align-items: center;
}

nav {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-align: end;
  padding-top: 1rem;
}

ul li a {
  color: #ffffff;
  transition: color 0.3s;
}

ul li a:hover {
  color: #86e0f9;
}

h1 {
  font-family: "Barlow", sans-serif;
  font-size: 13.8rem;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 12.6rem;
  flex-basis: 40%;
  flex-grow: 1;
}

.headerMain h1 {
  max-width: 40%;
}

.headerMainFlexParent img {
  // right: -352px;
  // position: relative;
  // left: 50%;
  // margin-left: -50vw;
  // max-width: 100vw;
  // right: 50%;
  // width: 100vw;
  // width: 50%;
  margin-right: -21vw;
}
