.underTheSea {
  background-color: #0c1423;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 800px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 40rem 0 40rem 0;
}

.underTheSea p {
  margin: 30px 0 30px 0;
}

.underTheSea .findOutMore {
  align-self: center;
}
