$primary: #86e0f9;

.newAdditions {
  background-color: #0f614e;
  padding-bottom: 3rem;
}

.newAdditionsFlexParent {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.newAdditions .readMore {
  text-align: left;
}

.newAdditionsText {
  flex-basis: 50%;
  flex-shrink: 200px;
  margin-left: 10rem;
}

.newAdditions img {
  box-shadow: 30px 30px $primary;
  flex-basis: 80%;
  margin: -3rem 0 0 -18.5vw;
}
