.profile {
  background-color: #0c1423;
  padding-bottom: 20rem;
}

.profile img {
  width: 100%;
}

.profile h2 {
  text-align: left;
}

.profileFlexParent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}

.profileFlexParent .findOutMore {
  text-align: left;
}

.profileFlexParent img {
  flex-basis: 20%;
  margin-right: 10rem;
  box-shadow: 50px 50px #86e0f9;
  height: auto;
}

.profileText {
  flex-basis: 80%;
}
