html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* stripping styles */
img {
  width: 100%;
  height: auto;
  display: block;
}

body,
ul,
li,
h1,
h2 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

/* global styles */
html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  color: #ffffff;
  height: 100%;
  font-weight: 400;
  line-height: 3.2rem;
}

/* wrapper styles */
.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

/* skip link styles */
.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

.findOutMore,
.readMore {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  line-height: 3.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.findOutMore a {
  color: #0c1423;
  background-color: #86e0f9;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  padding: 1rem 2rem 1rem 2rem;
}

.readMore a {
  color: #ffffff;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  background-color: #0c1423;
  padding: 1rem 2rem 1rem 2rem;
}

.findOutMore a:hover,
.findOutMore a:focus {
  color: #ffffff;
}

.readMore a:hover,
.readMore a:focus {
  color: #86e0f9;
}

.imageCropper {
  overflow: hidden;
}

h2 {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  font-size: 4.2rem;
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 3.2rem;
}

h4 {
  font-family: "barlow", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 3.2rem;
  text-transform: uppercase;
}

.headerMain {
  background-image: url(../assets/header-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  min-height: calc(100vh - 200px);
}

header ul li {
  display: inline-block;
  text-align: end;
  margin-left: 2rem;
}

.headerMainFlexParent,
.blogHeaderFlexParent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100vh - 239px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-align: end;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 2rem;
}

ul li a {
  color: #ffffff;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

nav ul li a {
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}

ul li a:hover,
ul li a:focus {
  color: #86e0f9;
}

nav ul li a:hover,
nav ul li a:focus {
  border-bottom: 1px solid #86e0f9;
}

h1 {
  font-family: "Barlow", sans-serif;
  font-size: 13.8rem;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 12.6rem;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.headerMain h1 {
  max-width: 40%;
}

.headerMainFlexParent img {
  margin-right: -18.25vw;
  margin-top: 58rem;
}

.blogHeader {
  background-image: url(../assets/blog-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  min-height: calc(100vh - 200px);
}

.contactHeader {
  background-image: url(../assets/contact-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  min-height: calc(100vh - 200px);
}

.blogHeader h1,
.contactHeader h1 {
  text-align: center;
}

.contactHeader h1 {
  padding-top: 25rem;
}

.underTheSea {
  background-color: #0c1423;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 800px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 40rem 0 40rem 0;
}

.underTheSea p {
  margin: 30px 0 30px 0;
}

.underTheSea .findOutMore {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.newAdditions {
  background-color: #0f614e;
  padding-bottom: 7rem;
}

.newAdditionsFlexParent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.newAdditions .readMore {
  text-align: left;
}

.newAdditionsText {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -ms-flex-negative: 200px;
      flex-shrink: 200px;
  margin-left: 10rem;
}

.newAdditions img {
  -webkit-box-shadow: 30px 30px #86e0f9;
          box-shadow: 30px 30px #86e0f9;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  margin: -3rem 0 0 -18.5vw;
}

.realNemo {
  background-color: #0f614e;
  padding-bottom: 3rem;
}

.realNemoFlexParent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.realNemo .readMore {
  text-align: left;
}

.realNemoText {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-right: 8rem;
  text-align: right;
}

.realNemoFlexParent .readMore {
  text-align: end;
}

.realNemoFlexParent img {
  -webkit-box-shadow: -30px 30px #86e0f9;
          box-shadow: -30px 30px #86e0f9;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  margin: 0 -18.25vw -3rem 0;
}

.links {
  background-color: #0c1423;
  padding: 4rem 0 8rem 0;
}

.links .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.community {
  margin-top: -1rem;
}

.links h4 {
  margin-left: 5rem;
}

.titleBar {
  position: relative;
}

.titleBar i {
  position: absolute;
  left: 0;
  top: 0;
  color: #0c1423;
  background-color: #86e0f9;
  padding: 10px;
  border-radius: 5em;
}

.getInTouch {
  margin-top: -1rem;
}

.profile {
  background-color: #0c1423;
  padding-bottom: 20rem;
}

.profile img {
  width: 100%;
}

.profile h2 {
  text-align: left;
}

.profileFlexParent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10rem;
}

.profileFlexParent .findOutMore {
  text-align: left;
}

.profileFlexParent img {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  margin-right: 10rem;
  -webkit-box-shadow: 50px 50px #86e0f9;
          box-shadow: 50px 50px #86e0f9;
  height: auto;
}

.profileText {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

.imageGallery {
  background-color: #0f614e;
  padding: 8rem 0 8rem 0;
}

.imageGallery .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}

.imageGallery a {
  border: 3px solid #0f614e;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}

.imageGallery a:hover,
.imageGallery a:focus {
  border: 3px solid #ffffff;
}

footer {
  background-color: #86e0f9;
  padding: 0.5rem 0 0.5rem 0;
}

footer p {
  text-align: center;
}

.post {
  background-color: #0c1423;
  position: relative;
  padding: 50rem 0 0 0;
}

.post img {
  -webkit-box-shadow: -30px 30px #86e0f9;
          box-shadow: -30px 30px #86e0f9;
  position: absolute;
  width: 60%;
  right: 0;
  top: -100px;
}

.postFlexParent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: left;
  margin-left: 38rem;
  margin-top: 20rem;
  padding: 0 0 3rem 5rem;
  border-left: 5px solid #86e0f9;
  border-bottom: 5px solid #86e0f9;
}

.postFlexParent h2,
.postFlexParent .date {
  text-align: left;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.postFlexParent h2 {
  margin-top: 2rem;
}

.post aside {
  position: absolute;
  background-color: #0f614e;
  left: 230px;
  top: 200px;
  width: 20%;
  padding: 10rem 10rem 10rem 10rem;
}

.post aside img {
  width: 125%;
  position: absolute;
  top: -300px;
  right: 25px;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: 0 0;
          box-shadow: 0 0;
}

.sidebarRecentPosts h2 {
  margin-top: 200rem;
}

.sidebarRecentPosts ul {
  list-style: circle outside;
}

.comments {
  background-color: #0c1423;
  padding: 5rem 0 10rem 60rem;
}

.comments h2 {
  text-align: left;
  margin-bottom: 4rem;
}

.comments .comment1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment1 img {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  margin: 0 20px 40px 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.comment1 .comment1Text {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

.comments .comment2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment2 img {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  margin: 0 20px 40px 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.comment2 .comment2Text {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

.postForm {
  background-color: #0c1423;
  padding-bottom: 5rem;
}

.postForm .wrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 38rem;
}

form label {
  visibility: hidden;
}

.textEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

input[type="text"],
input[type="email"],
#comment {
  background-color: #0c1423;
  color: #ffffff;
  border: 0;
}

input[type="text"],
input[type="email"] {
  width: 40%;
  border-bottom: 1px solid #86e0f9;
}

#comment {
  border: 1px solid #86e0f9;
  margin-bottom: 2rem;
  resize: none;
  padding: 0.5rem;
}

input[type="submit"] {
  font-family: "barlow", sans-serif;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 1px;
  border: 0;
  background-color: #0f614e;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0.5rem;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  color: #86e0f9;
}

.contactForm {
  background-color: #0c1423;
  padding: 30rem 0 30rem 0;
}

.contactForm form {
  background-color: #0f614e;
  width: 70%;
  -webkit-box-shadow: -30px 30px #86e0f9;
          box-shadow: -30px 30px #86e0f9;
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4rem;
}

.contactForm input[type="submit"] {
  background-color: #0c1423;
}

.contactForm input[type="text"],
.contactForm input[type="email"],
.contactForm #comment {
  background-color: #0f614e;
}

.contactForm .wrapper {
  position: relative;
}

.contactSidebar {
  position: absolute;
  top: -100px;
  left: 0;
}

.contactSidebar .iconList li {
  display: inline-block;
  margin-right: 2rem;
  font-size: 2.5rem;
}

.facebook:hover,
.facebook:focus {
  color: #3b5998;
}

.instagram:hover,
.instagram:focus {
  color: #fb3958;
}

.twitter:hover,
.twitter:focus {
  color: #00acee;
}

.whatsapp:hover,
.whatsapp:focus {
  color: #25d366;
}

h3 a {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

h3 a:hover,
h3 a:focus {
  color: #86e0f9;
}

@media (max-width: 855px) {
  header h1 {
    font-size: 8rem;
  }
}

@media (max-width: 768px) {
  .underTheSea {
    padding: 30rem 0;
  }
  .underTheSea p {
    text-align: center;
  }
  .newAdditionsFlexParent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .newAdditionsFlexParent img {
    margin: 3rem 0 2rem 0;
    padding: 0;
  }
  .newAdditionsText {
    width: 100%;
    text-align: center;
  }
  .newAdditionsText .readMore {
    text-align: center;
  }
  .realNemoFlexParent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .realNemoFlexParent img {
    margin: 0 0 2rem 0;
    padding: 0;
    -webkit-box-shadow: 30px 30px #86e0f9;
            box-shadow: 30px 30px #86e0f9;
  }
  .realNemoText {
    text-align: center;
    margin: 0;
  }
  .realNemoText .readMore {
    text-align: center;
  }
  .links .wrapper {
    grid-gap: 20px;
  }
  .community,
  .getInTouch {
    margin: 0;
    padding: 0;
  }
  .profile {
    padding-bottom: 8rem;
  }
  .profile h2 {
    text-align: center;
  }
  .profileFlexParent {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 5rem;
  }
  .profileFlexParent img {
    display: none;
  }
  .profileText {
    text-align: center;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .profileText .findOutMore {
    text-align: center;
  }
}

@media (max-width: 590px) {
  .links .wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .imageGallery .wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
}

@media (max-width: 376px) {
  nav {
    font-size: 1.9rem;
  }
}

@media (max-width: 1660px) {
  .blogHeader {
    height: 100vh;
  }
  header nav .post {
    margin: 0;
    padding: 0 0 1rem 0;
  }
  .post {
    padding: 0 0 1rem 0;
  }
  .postFlexParent {
    margin: 0 0 7rem 0;
  }
  .post figure {
    text-align: center;
    margin-left: 0;
    padding: 0;
  }
  .post img {
    position: static;
    width: 100%;
    -webkit-box-shadow: 0 0;
            box-shadow: 0 0;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .post h2 {
    margin-top: 5rem;
  }
  .post aside {
    display: none;
  }
  .comments {
    padding: 5rem 0 5rem 0;
  }
  .postForm .wrapper form {
    margin: 0;
  }
}

@media (max-width: 1100px) {
  .comments {
    padding: 0 0 5rem 0;
  }
  .comments h2 {
    text-align: center;
  }
  .comment1 img,
  .comment2 img {
    display: none;
  }
}

@media (max-width: 500px) {
  .textEmail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  input[type="text"],
  input[type="email"] {
    width: 100%;
  }
}

@media (max-width: 1260px) {
  .contactForm form,
  .contactSidebar {
    position: static;
    width: 100%;
    text-align: center;
  }
  .contactForm {
    padding: 5rem 0 5rem 0;
  }
  .contactSidebar {
    background-color: #0f614e;
    -webkit-box-shadow: 30px 30px #86e0f9;
            box-shadow: 30px 30px #86e0f9;
    margin: 6rem 0 3rem 0;
    padding: 4rem 0 4rem 0;
  }
}

@media (max-width: 360px) {
  html {
    font-size: 55%;
  }
}
